/* font-family: 'Roboto', sans-serif; */

/* common */

body {
    height: 100vh;
    width: 100%;
}

header {
    height: 70px;
}

main {
    height: calc(100% - 70px);
}

#side-nav {
    height: 100%;
    padding: 1.25rem;
}

#main-section {
    height: 100%;
    overflow-y: auto;
}

/* header */

header .row a i {
    color: #5b5858;
}

header .row .bell {
    color: #ff8f00;
    text-decoration: none;
}

/* side-nav */

#side-nav {
    background: url('../img/sidebar-bg.png');
    background-color: #051e34;
}

#side-nav li {
    list-style: none;
}

#side-nav a {
    color: inherit;
    text-decoration: none;
}

#side-nav i {
    width: 30px;
}

/* main-top */

#main-top {
    background-color: #1b72e8;
}

#main-top .badge {
    background-color: #144a96;
}

/* table */

table img {
    width: 1.875rem;
    margin-right: .625rem;
}

/* offcanvas */

.offcanvas.offcanvas-end {
    width: 100%;
}

.offcanvas.offcanvas-end input:not(#check),
.offcanvas.offcanvas-end select {
    width: 100%;
}

@media screen and (min-width: 992px) {
    .offcanvas.offcanvas-end {
        width: 50%;
    }
}