/* font-family: 'Roboto', sans-serif; */

/* common */

body {
    height: 100vh;
    width: 100%;
}

header {
    height: 70px;
}

main {
    height: calc(100% - 70px);
}

#side-nav {
    height: 100%;
    padding: 1.25rem;
}

#main-section {
    height: 100%;
}

/* header */

header .row a i {
    color: #5b5858;
}

header .row a:last-child i {
    color: #ff8f00;
}

/* side-nav */

#side-nav {
    background: url('../img/sidebar-bg.png');
    background-color: #051e34;
}

#side-nav li {
    list-style: none;
}

#side-nav a {
    color: inherit;
    text-decoration: none;
}

/* main-top */

#main-top {
    background-color: #1b72e8;
}